body {
    width: 100vw;
    height: 100vh;
}


body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(82, 82, 82);
    background-image: linear-gradient(rgb(17, 17, 17),rgb(82, 82, 82));
    margin: 0;
    padding: 0;
}

.headerColor {
    color: white;
}

.buttonColor {
    color: white;
    background-color: rgb(58, 58, 58);
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.bottomFlex {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.biggerBox {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px
}

.custom {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.combineColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
}

#jar {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

#container {
    display: flex;
    background-color: white;
    border: 20px solid rgb(58, 58, 58);
    display:inline-block;
    vertical-align: top;
    border-radius: 10px;
}








/*#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.grid-item {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
*/

